body {
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0b1622;
    color: #d9d9d9;
    font-size: 20px;
    font-weight: 100;
    padding: 5%;
}

.content {
    background-color: #1f293c;
    padding: 40px;
    margin: 50px 0;
}

h1,
h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
}

#frontpage_welcome {
    width: 70%;
    margin: auto;
}

#frontpage_news {
    width: 40%;
    float: left;
    margin-left: 70px;
}

#frontpage_nextscreening {
    width: 40%;
    float: right;
    margin-right: 70px;
}

.author {
    float: right;
    font-style: italic;
}

#popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#popupContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popupHeader {
    background-color: #353535;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-radius: 20px 20px 0 0;
}

#popupHeader h3 {
    margin: 0;
}

#popupBody {
    background-color: #0b1622;
    padding: 60px 30px;
    border-radius: 0 0 20px 20px;
}

#popupThumbnail {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    width: 200px;
}

#popupDescription {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 18px;
    width: 70%;
}

#popupX {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #b0b0b0;
    color: black;
    font-weight: bold;
    border-radius: 40px;
    text-align: center;
    right: -20px;
    top: -20px;
}

#popupX span {
    position: relative;
    top: 3px;
    vertical-align: middle;
}

#popupX:hover {
    background-color: #d0d0d0;
    cursor: pointer;
}
