#navbar {
    margin: 0;
    height: 83px;
    background-color: #353535;
}

.nav-items {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 500;
    position: absolute;
}

.nav-header {
    display: inline;
    height: 83px;
}

.nav-title {
    display: inline-block;
    height: 100%;
    padding: 11px 50px;
    border-spacing: 0;
    text-decoration: none;
}
.nav-title:hover {
    background-color: #202020;
    height: 100%;
}

.nav-discord-image {
    margin: -5px;
}

.nav-sandwhichbtn {
    display: none;
}

.nav-links {
    display: inline;
    float: right;
}

.nav-links > a {
    display: inline-block;
    padding: 28px 50px;
    text-decoration: none;
    color: #d9d9d9;
}

.nav-links > a:hover {
    background-color: #202020;
}

.signup-link {
    float: right;
    padding: 28px 50px;
    background-color: #7289da;
}

.signup-link:hover {
    background-color: #607ce0 !important;
}

.membershipButton {
    width: 100%;
    height: 100%;
    padding: 30px 0px;
    border: none;
    border-radius: 0;
    background-color: #7289da;
}

.discord-link > a {
    display: none;
}

#nav-check {
    display: none;
}

#navbar-logo {
    height: 61px;
    float: left;
}

#navbar-discord-logo:hover {
    opacity: 0.7;
}

@media (max-width: 1280px) {
    .nav-header {
        display: block;
    }

    .nav-title:hover {
        display: block;
        height: 62px;
    }

    .nav-title:hover {
        height: 62px;
        width: 120px;
    }

    .nav-sandwhichbtn {
        display: block;
        position: absolute;
        height: 83px;
        right: 0px;
        top: 0px;
    }

    .nav-sandwhichbtn:hover {
        background-color: #202020;
        cursor: pointer;
    }

    .nav-sandwhichbtn span {
        display: block;
        width: 40px;
        margin: 17px;
        border-top: 6px solid #d9d9d9;
        border-radius: 4px;
    }

    .nav-sandwhichbtn span:hover {
        cursor: pointer;
    }

    #navbar-discord-logo {
        display: none;
    }

    .nav-links {
        display: block;
        width: 100%;
        background-color: #353535;
        transition: all 0.5s ease-in;
        overflow-x: hidden;
        left: 0px;
        text-align: center;
    }

    .nav-links > a {
        display: block;
        width: 100%;
        padding: 30px 0px;
    }

    .signup-link {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: center;
    }

    .discord-link > a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: #d9d9d9;
        padding: 30px 0px;
        background-color: #7289da;
    }

    .discord-link > a:hover {
        background-color: #607ce0;
    }

    /* Menu when hamburger has not been clicked */
    #nav-check:not(:checked) + .nav-links {
        display: none;
    }

    /* Menu when hamburger has been clicked. Includes links to the different pages */
    #nav-check:checked + .nav-links {
        height: calc(70vh - 100%);
    }
}
