.voting_wrapper {
    margin-top: 50px;
}

.voting_container {
    padding: 0;
    user-select: none;
}

.voting_item {
    width: 70%;
    margin: 5px auto;
    padding: 10px;
    background-color: #1f293c;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    list-style: decimal;
    cursor: move;
}

.voting_drag_indicator {
    float: right;
}

.voting_item_dragged {
    opacity: 0.8;
}
