@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.ttf");
    font-weight: bold;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0b1622;
    color: #d9d9d9;
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 100px 0;
    overflow-y: scroll;
}

h1,
h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0;
}

hr {
    border: 1px solid #d9d9d9;
}

a {
    color: #87cefa;
}

*[onclick]:hover {
    background-color: #202020;
    cursor: pointer;
}

a:hover {
    color: #bee5fd;
    cursor: pointer;
}

.page_container {
    min-width: 400px;
    width: 70%;
    margin: auto;
}

.page_header {
    width: 70%;
    margin: auto;
    padding-top: 10px;
}

section > .page_header {
    width: 100%;
}

.page_header > h1 {
    text-align: left;
}

/*.content {
    background-color: #1f293c;
    padding: 20px 40px;
    margin: 30px 0;
}*/

.button_container {
    text-align: center;
    padding-bottom: 20px;
}

.button {
    width: 150px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #d9d9d9;
    color: #1f293c;
    border-radius: 6px;
    display: block;
    border: none;
    margin: auto;
}

.button:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

/* CSS for navbar */
#navbar {
    margin: 0;
    height: 83px;
    background-color: #353535;
}

.nav-items {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 500;
    position: absolute;
}

.nav-header {
    display: inline;
    height: 83px;
}

.nav-title {
    display: inline-block;
    height: 100%;
    padding: 11px 50px;
    border-spacing: 0;
    text-decoration: none;
}
.nav-title:hover {
    background-color: #202020;
    height: 100%;
}

.nav-discord-image {
    margin: -5px;
}

.nav-sandwhichbtn {
    display: none;
}

.nav-links {
    display: inline;
    float: right;
}

.nav-links > a {
    display: inline-block;
    padding: 28px 50px;
    text-decoration: none;
    color: #d9d9d9;
}

.nav-links > a:hover {
    background-color: #202020;
}

.signup-link {
    float: right;
    padding: 28px 50px;
    background-color: #7289da;
}

.signup-link:hover {
    background-color: #607ce0 !important;
}

.membershipButton {
    width: 100%;
    height: 100%;
    padding: 30px 0px;
    border: none;
    border-radius: 0;
    background-color: #7289da;
}

.discord-link > a {
    display: none;
}

#nav-check {
    display: none;
}

#navbar-logo {
    height: 61px;
    float: left;
}

#navbar-discord-logo:hover {
    opacity: 0.7;
}

/* Frontpage styling */
#frontpage_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#frontpage_welcome {
    width: 70%;
    padding-top: 10px;
}

#frontpage_news,
#frontpage_nextscreening {
    width: 40%;
    min-width: 400px;
}

#latest_news_header,
#next_screening_header {
    width: fit-content;
    padding-right: 3px;
}

/* Screenings styling */
#screenings_container,
#semester_container {
    min-width: 400px;
    /*font-size: x-large;*/
}

.screening_container {
    max-width: 800px;
    padding-bottom: 10px;
    margin: auto;
}

.anime_screening {
    height: 120px;
    background-color: #1f293c;
    margin-bottom: 5px;
    position: relative;
}

.anime_screening > img {
    height: 120px;
    width: 85px;
    float: left;
}

.anime_episodes {
    font-size: larger;
    position: absolute;
    margin: 0;
    width: calc(100% - 85px);
    left: 85px;
    top: 50%;
    transform: translateY(-50%);
}

/* Styling for voting-page */
.voting_wrapper {
    margin-top: 50px;
}

.voting_container {
    padding: 0;
}

.voting_element {
    width: 70%;
    margin: 5px auto;
    padding: 10px;
    background-color: #1f293c;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    list-style: decimal;
    cursor: move;
}

li:active {
    opacity: 0.7;
}

/* Newsfeed Styling */
.info_content {
    background-color: #1f293c;
    padding: 20px 40px;
    margin: 30px 0;
}

.author {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-style: italic;
}

/* About us styling */
#contact_title {
    text-align: left;
}

/* Signup styling */
#signupForm {
    width: 100%;
}

#signupName {
    background-image: url("../images/user-solid.svg");
}

#signupEmail {
    background-image: url("../images/envelope-solid.svg");
}

#signupForm input:not([type="submit"]) {
    border: none;
    background-repeat: no-repeat;
    background-size: auto 30px;
    background-position: 5px center;
}

#signupForm input:not([type="submit"]):focus {
    outline: 2px solid #40aa40;
}

.inputContainer {
    position: relative;
    margin: 70px 0;
    text-align: center;
}

.inputBox {
    box-sizing: border-box;
    height: 44px;
    padding: 10px;
    width: 85%;
    outline: none;
    text-align: center;
}

#signupSuccessful {
    display: none;
    padding: 10px 0;
    margin: auto;
}

#signupSuccessful .successText {
    color: #1c9b1c;
}

/* Popup styling */
#popup,
#signup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 9999;
}

.popupHeader {
    background-color: #353535;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-radius: 20px 20px 0 0;
}

.popupHeader h3 {
    margin: 0;
}

.popupContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popupBody {
    background-color: #0b1622;
    padding: 60px 30px;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    min-width: 400px;
}

#popupThumbnail {
    height: 250px;
    float: left;
    margin-right: 20px;
}

#popupDescription {
    overflow: hidden;
    font-size: 18px;
    margin: 0;
}

#popupX {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #b0b0b0;
    color: black;
    font-weight: bold;
    border-radius: 40px;
    text-align: center;
    right: -20px;
    top: -20px;
}

#popupX span {
    position: relative;
    top: 3px;
    vertical-align: middle;
}

#popupX:hover {
    background-color: #d0d0d0;
    cursor: pointer;
}

/* Make the page dynamic */
@media (max-width: 1280px) {
    .nav-header {
        display: block;
    }

    .nav-title:hover {
        display: block;
        height: 62px;
    }

    .nav-title:hover {
        height: 62px;
        width: 120px;
    }

    .nav-sandwhichbtn {
        display: block;
        position: absolute;
        height: 83px;
        right: 0px;
        top: 0px;
    }

    .nav-sandwhichbtn:hover {
        background-color: #202020;
        cursor: pointer;
    }

    .nav-sandwhichbtn span {
        display: block;
        width: 40px;
        margin: 17px;
        border-top: 6px solid #d9d9d9;
        border-radius: 4px;
    }

    #navbar-discord-logo {
        display: none;
    }

    .nav-links {
        display: block;
        width: 100%;
        background-color: #353535;
        transition: all 0.5s ease-in;
        overflow-x: hidden;
        left: 0px;
        text-align: center;
    }

    .nav-links > a {
        display: block;
        width: 100%;
        padding: 30px 0px;
    }

    .signup-link {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: center;
    }

    .discord-link > a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: #d9d9d9;
        padding: 30px 0px;
        background-color: #7289da;
    }

    .discord-link > a:hover {
        background-color: #607ce0;
    }

    /* Manu when hamburger has not been clicked */
    #nav-check:not(:checked) + .nav-links {
        display: none;
    }

    /* Menu when hamburger has been clicked. Includes links to the different pages */
    #nav-check:checked + .nav-links {
        height: calc(70vh - 100%);
    }

    @media (max-width: 895px) {
        .frontpage_container {
            /* Make next screening appear below latest news */
            display: block;
            flex-wrap: nowrap;
            justify-content: center;
            margin: 0 auto;
        }

        #frontpage_welcome,
        #frontpage_news,
        #frontpage_nextscreening {
            /* Make next screening appear below latest news */
            width: 80%;
            margin: 0 auto;
        }
    }
}
